*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
.navbar .navbar-nav .nav-item .nav-link{
  color:rgb(255, 255, 255);
}
.navbar .navbar-nav .nav-item .nav-link:hover{
  color:#ffdd00c6;
}
/*header section*/
header{
    background-color: black;
    padding: 20px 20px;
}
  
.banner{
    width:100%;
    min-height:500px;
    background-color: black;
    overflow: hidden;
}
.navbar-brand{
    color: #ffdd00c6;
    font-family:"Jacques Francois Shadow", serif;
    margin-left: 60px;
}
/*banner*/
.banner h1{
    margin-top: 60px;
    margin-left: 60px;
  font-family: "Sevillana", cursive;

}
.banner p{
    margin-top: 20px;
    margin-left: 60px;
    font-family: "Montserrat", sans-serif ;
}
.banner img{
    margin-top: 40px;
    
}
.banner button{
  width: 150px;
  height: 40px;
  color: #140404;
  background-color: #caa802e8;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
  font-weight: 600;
  margin-left: 60px;
}
.banner button:hover{
  background-color: #628330;
  color: #fff;
}
/*About us section*/
.Aboutus {
    padding-top: 30px;
    background-color: black;
    width: 100%;
    min-height:600px;
    overflow: hidden;
}
.Aboutus img{
   margin-left: 60px;
   width: 80%;
 }

.Aboutus .text{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .Aboutus .fever .text .headache h1{
    color:azure;
}
.Aboutus button{
  width: 130px;
  height: 40px;
  color: #140404;
  background-color: #caa802e8;
  border-radius: 20px;
  border-style: none;
  margin-top: 20px;
  font-weight: 600;
}
.Aboutus button:hover{
  background-color: #628330;
  color: #fff;
}
@media(min-width:992px) and (max-width:1016px){

}
/*services section*/
.services{
    min-height:500px;
    background-color: black;
}

.text-center{
  padding-top: 60px;
  padding-bottom: 30px;
  font-family: "Sevillana", cursive;
}
.text-center p{
  color: rgb(179, 177, 177);
  font-family: Montserrat, sans-serif;
  line-height: 26px;
  letter-spacing: 1px;
}
.horizontal1{
    width: 80px;       /* Adjust width as needed */
    border-top: 2px solid #514607;/* Thin line */
    margin: auto;  /* Adjust margin if needed */
}
.horizontal2{
  width: 80px;       /* Adjust width as needed */
  border-top: 2px solid #7c754a;/* Thin line */
  margin: auto;  /* Adjust margin if needed */
}

.services .card{
    height:100%;
    height: 100%;
    background-color: rgb(40, 40, 40);
}
 .servicesrow{
    display: flex;
    justify-content: center;
     align-items: center;
}
.services .card p{
    color: white;
}
.services .card .card-title{
    color: #ffdd00c6;
    font-family: "Montserrat", sans-serif ;
    font-weight: 400;
    font-size: 16px;
}

.services .card i{
    width:100%;
    padding-top: 10px;
}
.services .card:hover{
    background-color: #3a3a39e4;
  color: black;
}
.services h1{
    color: #ffdd00c6;
    
}
/*Gallery section start*/
.gallery{
    background-color: black;
}
.gallery p{
  color: rgb(179, 177, 177);
  font-family: Montserrat, sans-serif;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 50px;
}
.galleryrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1px;
    background-color: rgb(150, 148, 148);
}
  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 2px;
  }
  .column img {
    margin-top: 4px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
.gallerytxt{
    color: #ffdd00c6;
    font-family: "Sevillana", cursive;
    text-align: center;
    padding: 80px 50px 20px 0px;
    
}
.galleryrow .column .img{
  transition: 0.5 ease;
}
.galleryrow .column img:hover{
  transform: translatey(-10px);
}
/*Gallery section close*/
/*features section*/
.features {
height:700px;
  overflow: hidden;
  background-color: black;
  padding-top: 100px;
}
.featurestop{
 width: 100%;
 height: auto;
 padding-bottom: 20px;
}
.features p{
  color: rgb(179, 177, 177);
  font-family: Montserrat, sans-serif;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
}
.horizontal1{
  width: 80px;       
  border-top: 2px solid #514607;

}
.horizontal2{
width: 80px;       
border-top: 2px solid #7c754a;
height: 10px;

}

.features .row {
  height:50%; 
  margin-top: 20px; 
}

.image-div {
  position: relative;
  overflow: hidden;
}
.image-div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  bottom: -100%; 
  left: 0;
  right: 0;
  background-color: rgba(250, 250, 247, 0.135); /* Slight transparency */
  text-align: center;
  transition: bottom 0.3s ease; 
  padding: 10px; 
}
.image-div:hover .overlay {
  bottom: 0; 
}
.overlay h4,
.overlay p {
  margin: 10px 0; 
}

.overlay h4 {
  font-size: 28px; 
  font-family: "Sevillana", cursive;
  color: #ffdd00c6;
}

.overlay p {
  font-size: 16px; /* Paragraph font size */
  line-height: 20px; /* Line height */
  color: #fff;
 
}
.features .text-feature{
  font-family: "Sevillana", cursive;
  text-align: center;
}


/* Media Query for devices above 728px */
@media (max-width:990px) {
   .features{
    width: 100%;
    height: auto;
  }
  .features .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensure equal spacing between columns */
  }

  .image-div {
    width: 50%; /* Each feature takes up about 1/4th of the row */
    margin-bottom: 20px;
  }

  .overlay h4 {
    font-size: 24px; /* Slightly smaller overlay title */
  }

  .overlay p {
    font-size: 14px; /* Adjust paragraph size */
    line-height: 18px;
  }
}
@media (min-width:992px) and (max-width:1040px) {
   .features{
    width: 100%;
    height: auto;
  }
  .features .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  .image-div {
    width: 50%; 
    margin-bottom: 20px;
  }

  .overlay h4 {
    font-size: 24px; 
  }

  .overlay p {
    font-size: 14px; 
    line-height: 18px;
  }
}
}


/* Media Query for devices with width 728px and below */
@media (max-width: 728px) {
  .features {
    height: auto; 
    padding-top: 30px; 
  }

  /* Adjust the row to stack the items vertically */
  .features .row {
    flex-direction: column; 
    justify-content: flex-start; 
  }

  /* Each image-div should take up full width */
  .image-div {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .overlay h4 {
    font-size: 24px;
  }

  .overlay p {
    font-size: 14px; 
    line-height: 18px; 
  }

  
  .text-feature {
    font-size: 1.8rem;
  }

  .horizontal1, .horizontal2 {
    width: 60px;
}
}
/*Price section*/
.price{
  min-height: 800px;
  background-color: black;
}
.pricepara{
  color: rgb(179, 177, 177);
  font-family: Montserrat, sans-serif;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
   margin-bottom: 60px;
}
.pricerow{
  display: flex;
  text-align: center;
  justify-content: center;
}
.pricerow img{
  width: 100%;
  height: auto;
}
.pricerow .text-center{
  color: #ffdd00c6;
  padding-top: 100px;
  padding-bottom: 10px;
}
.pricecol{
  position: relative;
  box-shadow: 5px 5px 5px rgba(69, 68, 68, 0.3), -5px -5px 5px rgba(69, 69, 69, 0.3);
}
.pricerow .pricecol img{
  transition: 0.5s ease,color ;
  
}
.pricerow .pricecol img:hover{
  transform: scale(1.1); 
  
}
.priceoverimage{
color: white;
text-align: center;
height: 250px;
margin-bottom: 10px;
}
.priceoverimage button{
  background-color: #ffdd00c6;
  color: #140404;
  border-radius: 40px;
  width: 130px;
  height: 35px;
  border-style: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
margin-top: 10px;
}
.priceoverimage button:hover{
  color: #f9f9f6;
  background-color: #2f2e2e;
}
.priceoverimage h4{
  color: #ffdd00c6;
  padding-top: 10px;
}
.priceoverimage h5{
  padding-top: 30px;
}
.priceimg {
  max-width: 100%;
  height: auto;
}
.pricerow .row .priceimg{
  width: 30%;
  padding-top: 50px;
  padding-bottom: 10px;
 
  transition: transform 0.5s ease,color 0.5s ease;
 
}
.pricerow .row .priceimg:hover{
  transform: scale(1.1); 
 }

.pricerow .row  p{
  color: white;
}

/*Contact Us*/
.contact{
min-height: 500px;
background-image: linear-gradient(rgba(27, 26, 26, 0.5), rgba(12, 12, 12, 0.5)) ,url("images/contact.webp");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-color: black;
}
.contact-form {
 display: flex;
text-align: left;
justify-content: center;
 
}
.contact-form label{
  color: #efe9e9;
  font-size: 18px;
  margin-bottom: 8px;
}
.contact-form input{
  width:250px;
  padding: 6px 10px;
  border-radius: 2px;
  border-style: none;
  outline: none;
  margin-bottom: 0px;
}
.paragraph{
  line-height: 22px;
  text-align: center;
  padding-top: 30px;
  color: #f9f9f6;
}
.paragraph button{
  width: 150px;
  background-color: #ffdd00c6;
  height: 40px;
  border-radius: 40px;
  border-style: none;
  color: #2f2e2e;
  font-family: Arial, Helvetica, sans-serif;
padding: 4px 8px;
  font-weight: 700;
  margin-top: 30px;
}
.paragraph button:hover{
  background-color: #628330;
  color: #fff;
}
/*footer*/
footer .footersection{
  width: 100%;
  min-height: auto;
 background-color: black;
 color: #fff;
 padding: 100px 0 30px;
 font-size: 13px;
 line-height: 20px;
 position: absolute;
}
footer .footersection .row{
  width:80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
footer .footersection .row .col{
  flex-basis: 25%;
  padding: 10px;
}
footer .footersection .row .col:nth-child(2), .col:nth-child(3){
  flex-basis: 25%;
}
footer .footersection .row .logo h4{
  margin-bottom: 10px;
  color: #ffdd00c6;
  font-family:"Jacques Francois Shadow", serif;
}
footer .footersection .row .col h5 ,h6,p{
margin-bottom: 4px;
  padding-bottom: 0px;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid rgb(57, 55, 55);
  margin: 8px 0;
}
ul{
  padding-left: 3px;
}
ul li{
list-style: none;
margin-bottom: 12px;
}
ul li a{
  text-decoration: none;
  color:#fff;
}
.footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(57, 55, 55);
  margin-bottom: 50px;
}
.footer-form .bi{
  font-size: 18px;
  margin-right:10px;
}
.footer-form input {
width: 100%;
background:transparent;
color:#fff;
border:0;
outline: none;
}
.footer-form button{
  background:transparent;
  border:0;
outline: none;
cursor: pointer;
}
.footer-form  button .bi{
  font-size: 16px;
  color:#ccc;
}
hr{
  width:90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 30px 0;
}

.social-icons .bi{
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 15px; 
 cursor: pointer;
}

.copyright{
  text-align: center;
}
.underline{
  width: 100%;
  height: 5px;
  color: #767676;
  border-radius: 3px;
  position:absolute;
  top:25px;
  left:0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height:100%;
  color: #fff;
  border-radius: 3px;
  position: absolute;
  top:0;
  left:10px;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left:-20px
  }
  100%{
    left:100%
  }
   
}
@media (min-width: 540px) {
  div {
      padding-bottom: 10px; 
  }
}




  









   
